h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.sorting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    overflow-x: hidden;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-number-select {
    width: 4ch;
    height: 3ch;
    vertical-align: middle;
    font-size: large;
}

/* align reset-button-div to the left, and next-button-div to the center */

.reset-button-div {
    flex: 1;
    margin-left: 2vw;
}

.next-button-div {
    flex: 4;
    margin-left: 30vw;
}

.sorting-buttons {
    display: flex;
    flex-direction: row;
}

.sorting-header {
    text-align: center;
}

.sorting-instructions {
    text-align: center;
}

.sorting-info {
    text-align: center;
}

.cards-and-blocker {
    display: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sorting-game-cards {
    display: flex;
    width: 98vw;
    height: 40vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vh;
}

.cardContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0.5vw;
}

.cardLabel {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: flex;
    flex: 1;
    cursor: pointer;
}

/* Card CSS taken from: https://codepen.io/RuudBurger/pen/gOXKrr */

.card {
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom right, rgb(255, 24, 128), blue);
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 5%;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

.cardInput {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(165deg);
    -webkit-transform: rotateX(165deg);
}